*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: '微軟正黑體';
    
}
body{
    background-image:linear-gradient(-40deg,#CECEFF ,#000079 );
    background-attachment: fixed;
    
}
.wrap{
    display: flex;
    justify-content: center;
}
.container{
    width: 1350px;
    justify-content: center;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(660px,1fr));
    column-gap: 20px;
    row-gap: 20px;
}
.item{
    margin-top: 20px;
    margin-left:20px;
    display: block;
    box-sizing: border-box;
    width: 630px;
    height: 252px;
    background:#BBFFFF;

    box-shadow: 2px 2px 4px #000079;
    
    
}
.item > .pic{
    float: left;
    width: 40%;
    
}
.item >.pic > img{
    
    width: 100%;
}
.item > .txt{
    width: 345px;
    height: 245px;
    float: left;
    display: flex;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;

}
.item > .txt > table{
    
    margin-left: 30px;
    margin-top: 5px;
}
.item > .txt > table > tr > td{
    color: #000;
    margin: 5px 10px 5px 5px;
    font-size: 14px;
    border-bottom: 1px solid #000;
}
.item > .txt > h1{
    margin-left:10px;
    font-size: 22px;
}
.fixcom{
    height: 10px;
    clear: both;
}
.item:hover{
    background-color: #ff8000;
    transform: translateY(-5%);
}
.item:hover > .txt > h1{
    color: #fff;
}
.item:hover > .txt > table > tr > td{
    color: #fff;
    border-bottom: 1px solid #fff;
}